* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
h1 {
    font-size: 25px;
}

#reset {
    position: absolute;

    left: 360px;
    top: 8px;
}
#result {
    position: relative;
    left: 110px;

}
p {
    position: absolute;

    left: 420px;
    top: 8px;
}
